@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

html {
  box-sizing: border-box;
}
* {
  font-family: 'Chelsea Market', cursive;
}

body {
    margin: 0;
    text-align:center;
    background-color:#D1C38D;
    background-image: url("https://vignette.wikia.nocookie.net/caseclosed/images/7/7e/Detective_Conan_Background.png/revision/latest?cb=20180508102844")
}

header {
  display:block;
  margin: 0 auto;
  color:#B9CDFF;
}
img.detective {
  height: auto;
  width: 120px;
  float:left;
  display: inline-grid;
}

.contenedor {
    width: 50%;
    height: 90vh;
    background-color: rgba(0,0,0,0.95);
    padding: 3em 3em;
    box-sizing: border-box;
    position: relative;
    margin: 0px auto;
    margin-top: 30px;
    color: #519BD5;
    border-radius: 3px;
}

label {
  display: block;
  font-size: 20px;

}
#contenido {
  display:block;

}
.instrucciones{
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 50px;
    line-height: 30pt;
}

#cifrar-descifrar {
  display:none;
  margin: 20px 0;
}
button, .volver {
display:inline-block;
border: none;
background: #519BD5;
color: #f2f2f2;
padding: 10px;
font-size: 20px;
border-radius: 3px;
position: relative;
box-sizing: border-box;
transition: all 500ms ease;
margin-top:40px;

}

button:hover, .volver:hover {
background: rgba(0,0,0,0);
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
}

#offset-ingresado {
  width: 40px;
  height: 20px;
}

#texto-ingresado{
  float:inherit;
  width: 70%;
  min-height: 35px;
  outline: none;
  resize: none;
  border: 2px solid #f0f0f0;
  border-radius: 5px;
}
#mostrado {
  display:none;
}

.negrita {
  font-weight: bolder;
  font-size: 20px;
}

@media only screen and (min-width: 480px){
  h1 {
    font-size: 30px;
  }
}
@media only screen and (min-width: 768px){
  h1{
    font-size: 40px;
  }
}
