@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');

* {
  font-family: 'Chelsea Market', cursive;
}

body {
    margin: 0;
    text-align:center;
    background-image: url("https://images.unsplash.com/photo-1531278329486-539bf3bd6d5e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=c22fab4464ff80aa905e5abb9f367731&auto=format&fit=crop&w=925&q=80");
    background-size: cover;
    background-position: center;

}

header {
  color:#B9CDFF;
}

h1{
  margin:0 auto;
  font-size: 40px;
}


img.detective {
  height: auto;
  width: 120px;
  float:left;
  display: inline-grid;
}

.contenedor {
    max-width: 700px;
    min-width: 200px;
    height: 90vh;
    background-color: rgba(0,0,0,0.95);
    padding: 3em 3em;
    box-sizing: border-box;
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
    color: #519BD5;
    border-radius: 3px;
}

label {
  display: block;
  font-size: 15px;
}

#apresurate {
  color: #F73A5C;
}

#contenido {
  display:block;

}
.instrucciones{
    text-align: justify;
    margin-top: 70px;
    margin-bottom: 50px;
    line-height: 30pt;
}

#cifrar-descifrar {
  display:none;
  margin: 20px 0;
  margin-top: 40px;
}

.botones {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0
}

button, .volver {
display:inline-block;
border: none;
background: #519BD5;
color: #f2f2f2;
padding: 10px;
font-size: 20px;
border-radius: 3px;
position: relative;
transition: all 500ms ease;
margin-top:50px;
}

button:hover, .volver:hover {
background: rgba(0,0,0,0);
color: #3a7999;
box-shadow: inset 0 0 0 3px #3a7999;
cursor:pointer;
}

#offset-ingresado {
  width: 40px;
  height: 20px;
  border-radius: 5px;
}

#texto-ingresado{

  width: 80%;
  min-height: 35px;
  border-radius: 3px;
}

#mostrado {

  display:none;
  margin: 50px auto;
}

.negrita {
  font-weight: bolder;
}

input:valid, textarea:valid {
  border: 3px solid green;
}
input:invalid, textarea:invalid {
  border: 2px solid red;
}

@media screen and (max-width: 700px){
  h1 {
    font-size: 30px;
  }

  h3 {
    font-size: 20px;
  }
  .contenedor {
    width: 90%;
    padding: 1em 2em;

  }
  #contenido {
    font-size: 15px;
  }

}

@media screen and (max-width: 420px){
  h1 {
    font-size: 24px;
  }

  h3 {
    font-size: 15px;
  }
  .contenedor {
    width: 90%;
    padding: 1em 1em;

  }

  main {
    font-size: 14px;
    margin: 0 auto;
  }

  .instrucciones {
    text-align: justify;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 20pt;
   }

   button, .volver {
     padding: 5px;
     font-size: 18px;
   }
}
